name: Build container image with cache
run-name: Build container image with cache ${{ github.ref_name }}

on:
  workflow_call:
    inputs:
      image:
        description: 'Set the tag of the docker image'
        required: true
        type: string
      tags:
        description: 'Set the tag of the docker image'
        required: false
        type: string
      registry:
        description: 'Set the image registry repository name, default is frontegg'
        required: false
        default: 'frontegg'
        type: string
      image_file_path:
        description: 'Set the image build file path, for example ./Dockerfile'
        required: false
        default: './Dockerfile'
        type: string
    secrets:
      npm_token:
        description: 'Npm Token'
        required: true
      docker_hub_password:
        description: 'Docker Hub Password'
        required: true
      docker_hub_user:
        description: 'Docker Hub User'
        required: true


jobs:
  build-and-push-docker:
    name: Build and Push Image
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Checkout Workflows
        uses: actions/checkout@v4
        with:
          repository: frontegg/workflows
          path: workflows
          clean: false
      - name: Aggressive cleanup
        run: |
          # # Remove Java (JDKs)
          # sudo rm -rf /usr/lib/jvm

          # # Remove .NET SDKs
          # sudo rm -rf /usr/share/dotnet

          # # Remove Swift toolchain
          sudo rm -rf /usr/share/swift

          # # Remove Haskell (GHC)
          # sudo rm -rf /usr/local/.ghcup

          # # Remove Julia
          # sudo rm -rf /usr/local/julia*

          # # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android

          # # Remove Chromium (optional if not using for browser tests)
          # sudo rm -rf /usr/local/share/chromium

          # # Remove Microsoft/Edge and Google Chrome builds
          # sudo rm -rf /opt/microsoft /opt/google

          # # Remove Azure CLI
          # sudo rm -rf /opt/az

          # # Remove PowerShell
          # sudo rm -rf /usr/local/share/powershell

          # # Remove CodeQL and other toolcaches
          # sudo rm -rf /opt/hostedtoolcache

          # docker system prune -af || true
          # docker builder prune -af || true
          df -h
      - name: Run build and push docker image action
        uses: ./workflows/.github/shared-actions/build-publish-image
        with:
          image: ${{ inputs.image }}
          tags: ${{ inputs.tags }}
          registry: ${{ inputs.registry }}
          image_file_path: ${{ inputs.image_file_path }}
          npm_token: ${{ secrets.npm_token }}
          docker_hub_user: ${{ secrets.docker_hub_user }}
          docker_hub_password: ${{ secrets.docker_hub_password }}
